<div class="body">
    <br><br>
    <h2 class="text-center">Login Form </h2><br>
    <form>
        <label>Username:</label>
        <input type="text" class="form-control" placeholder="username"><br>
        <label>Password:</label>
        <input type="password" class="form-control" placeholder="password"><br><br>
        <div style="text-align: center;">
        <button type="button" class="btn btn-primary" style="margin: 30px
        ;" (click)="homePage()">Login</button>
        <a href="../signup/signup.component.html"> Sign up</a>
    </div>
        

        
    </form>

</div>